@font-face {
  font-family: 'SpotifyFont';
  src: url('/SUKOON/src/assets/Spotify-Font/Gotham-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  color: black;
}

.container {
    background-color: #1a1a1a;
    color: white;
    height: 100vh;
  }
  
  .header {
    padding: 20px;
    text-align: center;
    background: teal;
  }
  
  .main {
    padding: 20px;
  }