@media (max-width: 480px) {

    * {
        letter-spacing: 1.5px;
    }
    .registerTop {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .signUpHeading {
        top: 20%;
        left: 50%;
        color: black;
        font-size: 150%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    

    .signUpDataInputStack {
        gap: 40px; 
        width: 60%;
        position: absolute; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin-top: 70%;
        
        
    }

    .OuterInputBox {
        position: relative;
        width: 130%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        
    }

    .InnerInputBox {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: gray;


    }

    .InputData {
        padding-left: 30px;
        border: none;
        height: 50px;
    }

    .next-Button {
        margin: 10px 0; /* Space out buttons */
        width: 120%; /* Ensure buttons are not too wide */
        z-index: 1; /* Ensure buttons appear above the video */
        height: 60px;
        font-size: 130%;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-weight: 50;
    }

    .registeryText {
        text-align: center; /* Center text */
        margin: 10px 0; /* Space out elements */
        color: black;
        z-index: 1; /* Ensure text appears above the video */
        font-size: 80%;
        font-weight: 50;
        width: 145%;
    }

    .regBox {
        height: 1px;
        width: 150px;
        background-color: black;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        gap: 15px;
        
      }
      
    .apple-login-button,
    .google-login-button {
        border-radius: 20px;
        box-sizing: border-box;
        padding: 15px 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 14px;
        gap: 5px;
        width: 120%;
        height: 180%;
    }
    
    .apple-login-button {
        background-color: #000;
        color: #fff;
        border: 2px solid #000;
    }
    
    .google-login-button {
        border: 2px solid #747474;
        color: black;
    }
    
    .apple-icon,
    .google-icon {
        font-size: 26px;
        margin-bottom: 1px;
    }

    .backButton, .backButtonText {
        border-radius: 200;
        background-color: #43eb7f; 
        font-weight: bold;
        color: white;
    }

    



    
  

      
      
}