@media (max-width: 480px) {

  * {
    letter-spacing: 1.5px;
}
    .statisticsTop {
  background-color: #f5f5f5;
  padding: 20px;
}

.statisticsDataStack {
  margin-top: 20px;
}

.statisticsBox {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #6EC207 ;
  -webkit-text-fill-color: black;
}

.backButton, .backButtonText {
  border-radius: 200;
  background-color: #43eb7f; 
  font-weight: bold;
  color: white;
}

.usagePerRoomBox {
  border-radius: 40px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #6EC207 ;
  -webkit-text-fill-color: black;
}

}