.addPinnedItem, .pinType {
    font-family: 'SpotifyFont', sans-serif;
    background: transparent;
    color: #21334a;
    font-size: 200%;
}

.pinType {
    font-size: 120%;
}

.editStack {
    margin: 20px 0 0 20px;
}

.mockRoom {
    background-color: purple; 
    width: calc(45%);
    height: 150px;
    /* margin: 10px 10px 10px 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-width: 2;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}