body {
    background-color: white;
    font-family: 'SpotifyFont', sans-serif;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('react-website/src/assets/Spotify-Font/Gotham-Black.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    color: black;
}

@font-face {
    font-family: 'specialFont';
    src: url('react-website\src\assets\Spotify-Font\GothamBook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
    outline: 1px solid red;
}

html, body {
    height: 100%;
    overflow-y: hidden; /* Prevent vertical scrolling */
  }
  
  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }